* {
  padding: none;
  margin: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.a {
  color: #edebeb43
}

li {
  border: 2px solid #0366d759
}

.button {
  transition: opacity 400ms, background-color 300ms;
}

.button:active {
  animation: blink 400ms linear forwards 3;
}

@keyframes blink {
  0% {
    opacity: 0.2;
  }
  33% {
    opacity: 1;
  }
  66% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}

.css-ume8vi-MuiInputBase-input-MuiInput-input {
  color: #000;
  height: 80px
} 

::-webkit-scrollbar {
  width: 0px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #727171;
  border-radius: 10px;
  height: 200px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #c1121f;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}