* {
  padding: none;
  margin: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.a {
  color: #ffffffb3
}

.css-ume8vi-MuiInputBase-input-MuiInput-input {
  color: #000;
  height: 80px
} 